footer{color: 111;
   section#ftop{color: 111;
      .wrap{color: 111;
         h2{color: 111;

         }
         >ul{color: 111;
            >li{color: 111;
               h3{color: 111;

               }
               >ul{color: 111;
                  >li{color: 111;
                     >a{color: 111;
                     }
                     h4{color: 111;
                        a{color: 111;

                        }
                     }
                     ul{color: 111;
                        li{color: 111;

                        }
                     }
                  }
               }
            }
         }
      }
   }
   section#fbottom{color: 111;
      .wrap{color: 111;
         h2{color: 111;

         }
         ul{color: 111;
            li{color: 111;
               h3{color: 111;

               }
               p{color: 111;
                  span{color: 111;

                  }
               }
            }
         }
         select{color: 111;
            option{color: 111;

            }
         }
      }
   }

}